:root {
  --limegreen: hsl(163, 72%, 41%);
  --brightred: hsl(356, 69%, 56%);

  --facebook: hsl(208, 92%, 53%);
  --twitter: hsl(203, 89%, 53%);
  --instagram: linear gradient hsl(37, 97%, 70%) to hsl(329, 70%, 58%);
  --youTube: hsl(348, 97%, 39%);
  --gray: #9b9ea7;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  color: rgb(24, 23, 23);
}
/* ------------------------------------- HEADER */

.header {
  border: 1px solid red;
}

.wrapper {
  padding: 15px 30px;
}

.grid {
  display: grid;
  grid-row-gap: 30px;
}

.card {
  border-radius: 8px;
  overflow: hidden;
  background: #f0f3fa;
  text-align: center;
}
.card:before {
  content: '';
  display: block;
  height: 3px;
  background: var(--facebook);
}

.card-nickname {
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--gray);
  font-size: 0.8em;
  font-weight: bold;
}

.card-nickname img {
  margin-right: 5px;
}

.card-followers {
}
.card-followers-number {
  font-size: 50px;
  font-weight: 700;
  padding-bottom: 15px;
}
.card-followers-title {
  display: block;
  text-transform: uppercase;
  padding-bottom: 20px;
  color: var(--gray);
  letter-spacing: 5px;
  font-size: 0.8em;
}

.card-today {
  margin-bottom: 20px;
  color: var(--limegreen);
  font-size: 0.7em;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-today img {
  margin-right: 5px;
}
